<h1>New Score</h1>

  <%= form_with (model:[@game, @score]) do |form| %>
  <div>
    <%= f.label :points, "Points" %>
    <%= f.number_field :points %>
  </div>

  <div>
    <%= f.label :round_number, "Round Number"%>
    <%= f.number_field :round_number %>
  </div>

  <div>
    <%= f.submit "Submit Score"%>
  </div>
  <% end %>
